.box {
    width: 1400px;
    position: absolute;
    margin: 20px;
}

.problem-list {
    list-style-type: none;
    padding: 0;
}

.problem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.problem-details {
    font-size: 23px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.problem-title {
    font-weight: bold;
    margin-right: 20px;
}

.problem-tags {
    font-style: italic;
}

.difficulty {
    font-weight: bold;
    margin-right: 7%;
}

.delete-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
    position: absolute;
    right: 10px;
}
.delete-button:hover {
    background-color: darkred;
}

.difficulty.easy {
    color: aliceblue;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(55, 230, 55);
}

.difficulty.medium {
    color: aliceblue;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(238, 238, 63);
}

.difficulty.hard {
    color: aliceblue;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    background-color: lightcoral;
}
.create{
    width:15%;
}