.problem-with-compiler {
    display: flex;
    height: 100vh;
}

.problem-details, .compiler-section {
    width: 50%;
    overflow-y: auto;
}

.problem-details {
    padding: 20px;
    border-right: 1px solid #ddd;
}

.compiler-section {
    padding: 20px;
}
