.navbar {
  display: flex; /* Use flexbox for alignment */
  justify-content: space-between; /* Space out items */
  align-items: center; /* Center items vertically */
  background-color: #333;
  padding: 10px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Flexbox for horizontal list */
}

.navbar ul li {
  margin-right: 10px; /* Add space between list items */
}

.navbar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar ul li a:hover {
  background-color: #111;
}

.navbar .logo {
  padding: 0;
  height: 60px;
  margin-right: 7%; /* Adjust height as needed */
  margin-left: auto; /* Push the logo to the right */
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}
